.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__label {
  margin-bottom: 0;
}

.task__btns {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
}

.task__btn {
  width: 30px;
}
