{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "preserve",
  "printWidth": 120,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": true
}
